:root{
  --fundo-escuro: #000;
  --fundo-card: #1d2226;
  --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
  --texto-principal: hsla(0, 0%, 100%, 0.9);
  --texto-secundario: hsla(0, 0%, 100%, 0.6);
  --texto-escuro: hsla(0, 0%, 0%, 0.75);
  --input: #38434F;
  --primario: #70b5f9;
  --positivo: #3ec786;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--fundo-escuro);
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--fundo-card);
  padding: 9px 0 9px 153px;
}

.logo-linkedin {
  margin-right: 8px;
}

.pesquisar {
  display: flex;
}

.pesquisar img {
  position: relative;
  left: 35px;
}

.barra-pesquisar {
  display: block;
  width: 280px;
  height: 35px;
  padding: 0 40px;
  margin-right: 100px;
  background-color: var(--input);
  color: var(--texto-principal);
  border: none;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  color: var(--texto-principal);
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.menu-nav a {
  display: block;
  font-size: 0.75em;
  color: var(--texto-principal);
}

.menu-nav a img {
  margin: 0 auto;
}

.divisor {
  width: 2px;
  background-color: var(--texto-secundario);
}

/* INFORMAÇÕES DO PERFIL */

.perfil {
  margin-top: 24px;
  margin-left: 154px;
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

.informacoes-perfil,
.destaques,
.atividades,
.sobre,
.experiencias,
.formacao-academica,
.idiomas {
  max-width: 780px;
  background-color: var(--fundo-card);
  border-radius: 16px;
  color: var(--texto-principal);
}

.imagens-perfil {
  position: relative;
}

.imagem-perfil {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 120px;
  left: 24px;
}

.dados-perfil {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  margin: 60px 0 24px 24px;
}

.nome-perfil {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 30px;
}

.cargo-perfil {
  font-size: 1em;
  font-weight: 600;
  line-height: 20px;
}

.fala-sobre-perfil, .localidade-perfil, .bola-divisor {
  font-size: 0.875em;
  line-height: 25px;
  color: var(--texto-secundario);
}

.contato, .seguidores-conexoes {
  display: flex;
  gap: 5px;
}

.contato-perfil {
  font-size: 0.875em;
  font-weight: 700;
  color: #70B5F9;
  line-height: 25px;
}

.seguidores-perfil, .conexoes-perfil {
  font-size: 0.875em;
  font-weight: 500;
  color: #70B5F9;
  line-height: 25px;
}

.botoes-perfil {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-top: 5px;
}

.mensagem-perfil {
  background-color: #70B5F9;
  padding: 6px 29px;
  border-radius: 16px;
  font-size: 0.875em;
  color: var(--texto-escuro);
}

.mais-perfil {
  padding: 6px 49px;
  font-size: 0.875em;
  color: #70B5F9;
  border: 1px solid #70B5F9;
  border-radius: 16px;
}

.detalhes-carreira {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.empresa-perfil, .instituicao-ensino-perfil {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* DESTAQUES DO PERFIL */

.destaques,
.atividades,
.sobre,
.experiencias,
.formacao-academica,
.idiomas {
  padding: 16px 16px 22px 16px;
}

.destaques-titulo,
.atividades-titulo,
.sobre-titulo,
.experiencias-titulo,
.formacao-academica-titulo,
.idiomas-titulo {
  font-size: 1.25em;
  line-height: 30px;
}

.destaques-publicacao {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 10px;
}

.publicacao-item {
  border: 1px solid var(--texto-secundario);
  border-radius: 8px;
}

.publicacao-titulo {
  margin-top: 12px;
  margin-left: 14px;
  font-size: 0.75em;
  line-height: 20px;
  color: var(--texto-secundario);
}

.publicacao-legenda {
  margin-left: 14px;
  margin-bottom: 5px;
  font-size: 0.875em;
  line-height: 20px;
}

.reacoes {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.imagem-reacoes {
  display: flex;
  align-items: center;
}

.imagem-reacoes span {
  font-size: 0.75em;
  color: var(--texto-secundario);
  margin-left: 4px;
}

.comentarios-reacoes {
  font-size: 0.75em;
  color: var(--texto-secundario);
}

/* ATIVIDADES DO PERFIL */

.atividades-seguidores {
  font-size: 0.875em;
  line-height: 20px;
  color: #70B5F9;
}

.atividades-publicacao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 13px 0;
}

.atividades-item {
  border-bottom: 1px solid var(--texto-secundario);
}

.atividades-info {
  font-size: 0.875em;
  color: var(--texto-secundario);
  line-height: 20px;
}

.atividades-detalhes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0 10px 0;
}

.atividades-imagem {
  width: 64px;
  height: 64px;
}

.atividades-paragrafo {
  font-size: 0.875em;
  line-height: 20px;
  max-width: 662px;
}

.atividades-item .reacoes {
  margin: 0 0 10px 0;
}

.atividades-exibicao {
  text-align: center;
  font-size: 0.875em;
  color: var(--texto-secundario);
}

/* SOBRE PERFIL */

.sobre {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sobre-paragrafo {
  font-size: 0.875em;
  line-height: 20px;
}

/* EXPERIÊNCIAS */

.logo-empresa {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 5px 0;
}

.logo-empresa img {
  width: 48px;
  height: 48px;
}

.experiencias-empresa p {
  font-weight: 600;
  line-height: 20px;
}

.experiencias-empresa span {
  font-size: 0.875em;
  color: var(--texto-secundario);
}

.experiencias-info {
  display: grid;
  gap: 10px;
}

.experiencias-info li:nth-child(1) {
  font-weight: 600;
  line-height: 20px;
}

.experiencias-info li:nth-child(1)::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--texto-principal);
  border-radius: 50%;
  margin: 0 26px 0 21px;
}

.experiencias-info li:nth-child(2),
.experiencias-info li:nth-child(3),
.experiencias-info li:nth-child(4) {
  color: var(--texto-secundario);
  font-size: 0.875em;
  line-height: 16px;
  border-left: 1px solid var(--texto-secundario);
  margin-left: 26px;
  padding-left: 30px;
}

/* FORMAÇÃO ACADÊMICA */

.formacao-academica-info {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.logo-instituicao-ensino img {
  width: 48px;
  height: 48px;
}

.info-instituicao-ensino {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nome-instituicao-ensino {
  font-size: 1em;
  line-height: 20px;
}

.curso-instituicao-ensino {
  font-size: 0.875em;
  line-height: 16px;
}

.tempo-instituicao-ensino {
  font-size: 0.875em;
  line-height: 16px;
  color: var(--texto-secundario);
}

/* IDIOMAS */

.idiomas-item {
  padding: 12px 0;
}

.idiomas-item + .idiomas-item {
  border-top: 1px solid var(--texto-secundario);
}

.idiomas-item h3 {
  font-size: 1em;
  line-height: 30px;
}

.idiomas-item span {
  font-size: 0.875em;
  color: var(--texto-secundario);
}